version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    env_file:
      - .env
    ports:
      - "${API_PORT}:${API_PORT}"
    restart: unless-stopped
